body {
  margin: 0;
}

a {
  text-decoration: none;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  font-size: 1.7em;
  padding: 1em 0 1em 0;
  color: white;
  border-radius: 0px;
  //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.root {
  margin-right: auto;
  margin-left: auto;
}

.pure-g [class *= pure-u] {
  //font-family: Helvetica;
}

.scorecard__header {
  padding-top: 10px;
  font-size: 0.5em;
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid black;
}

.end {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  color: black;
  border-bottom: 2px solid black;
}

@mixin end__box {
  box-sizing: border-box;
  padding: 1em 0 1em 0;
}

.end__number {
  @include end__box();
  font-size: 0.5em;
  color: lighten(black, 50%);
}
.end__score {
  @include end__box();
  box-sizing: border-box;
}

.end__total, .end__running-total {
  @include end__box();
  border-left: 2px solid black;
}

.endinput {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  color: black;
}
.endinput__entry {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: 2px solid;
  border-color: white;
}
.endinput__entry--empty {
  color: transparent;
}
.endinput__entry--active {
  //border: 2px dashed;
  color: lightcoral;
}


.endinput__done {
  background-color: darkorange;
}

.numpad__button {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-color: white;
  font-size: 3em;
  font-weight: 900;
}

@mixin button-background($color) {
  background-color: $color;
  color: white;
  &:hover {
    border-color: black;
    background-color: lighten($color, 10%);
  }
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lighten(black, 20%);
}

.numpad__button--gold {
  @include button-background(lighten(yellow, 15%));
}
.numpad__button--red {
  @include button-background(lighten(red, 10%));
}
.numpad__button--blue {
  @include button-background(lighten(blue, 10%));
}
.numpad__button--black {
  @include button-background(lighten(black, 20%));
  color: white;
}
.numpad__button--white {
  @include button-background(darken(white, 0%));
}
.numpad__button--miss {
  @include button-background(lighten(green, 60%));
}
